<div class="body">

  <h2 tabindex="0" class="aprovado">Olá Lara!</h2>
  <button mat-flat-button color="primary" class="btn" routerLink="/minha-horta">
    Minha Horta</button>
  <button mat-stroked-button class="btn-sem" routerLink="/conection">
    Conexões</button>
  <button mat-flat-button color="primary" class="btn" routerLink="/ranking">
    Rankings</button>
  <button mat-flat-button color="primary" class="btn" routerLink="/download">
    Publicações</button>

  <div class="container">
    <div tabindex="0" class="card">
      <h2 class="status">Conexões:</h2>
      <div class="cards">
        <div class="card_conexao">
          <h4>Monique</h4>
          <img sizes="100px" src="../../../assets/Monique.png" alt="foto preta e branca de uma mulher"><br>
          <a routerLink="/">Ver Rankings ></a>
        </div>
        <div class="card_conexao">
          <h4>Daiane</h4>
          <img sizes="100px" src="../../../assets/Dai.png" alt="foto preta e branca de uma mulher"><br>
          <a routerLink="/">Ver Rankings ></a>
        </div>
        <div class="card_conexao">
          <h4>Mariane</h4>
          <img sizes="100px" src="../../../assets/Mari.png" alt="foto preta e branca de uma mulher"><br>
          <a routerLink="/">Ver Rankings ></a>
        </div>

      </div>



      <mat-divider></mat-divider>

      <button mat-flat-button color="primary" class="btn" routerLink="#">
        Adicionar nova Conexão +
      </button>
    </div>
  </div>
