<mat-toolbar class="toolbar" color="white">
  <img autoFocus tabindex="0" width="120  " src="../../../../assets/Hortalize.svg" alt="Voltar para a Tela inicial"
    aria-label="Voltar para a Tela inicial" routerLink="/" />
  <span class="spacer"></span>
  <h2 > <a tabindex="0" routerLink="/">Home</a></h2>
  <h2 ><a tabindex="0" routerLink="ranking">Ranking</a></h2>
  <h2 ><a tabindex="0" routerLink="#">Fale conosco</a></h2>
  <span class="spacer"></span>
  <button mat-stroked-button class="btn-sem" routerLink="login">Ver minha horta </button>
  <button mat-flat-button class="btn-cor"  routerLink="client-form">Criar conta</button>
</mat-toolbar>
 