<div class="body">

  <h2 tabindex="0" class="aprovado">Olá Lara!</h2>
  <button mat-flat-button color="primary" class="btn" routerLink="/minha-horta">
    Minha Horta</button>
  <button mat-flat-button color="primary" class="btn" routerLink="/conection">
    Conexões</button>
  <button mat-stroked-button class="btn-sem" routerLink="/ranking">
    Rankings</button>
  <button mat-flat-button color="primary" class="btn" routerLink="/download">
    Publicações</button>

  <div class="container">
    <div tabindex="0" class="card">
      <h2 class="status">Ranking:</h2>
      <div class="cards">
        <div class="card_conexao">
          <h4>Mariane</h4>
          <img sizes="100px" src="../../../assets/Mari.png" alt="foto preta e branca de uma mulher"><br>
          <p class="podio">1º <img src="../../../assets/icons8-medalha-de-primeiro-lugar-50.png"
              alt="icone de medalha com o numero 1"></p>
              <p>pontuação: 800pts</p>
        </div>
        <div class="card_conexao">
          <h4>Daiane</h4>
          <img sizes="100px" src="../../../assets/Dai.png" alt="foto preta e branca de uma mulher"><br>
          <p class="podio">2º <img src="../../../assets/icons8-medalha-de-segundo-lugar-50.png"
              alt="icone de medalha com o numero 2"></p>
              <p>pontuação: 750pts</p>
        </div>
        <div class="card_conexao">
          <h4>Monique</h4>
          <img sizes="100px" src="../../../assets/Monique.png" alt="foto preta e branca de uma mulher"><br>
          <p class="podio">3º <img src="../../../assets/icons8-medalha-de-terceiro-lugar-50.png"
              alt="icone de medalha com o numero 3"></p>
              <p>pontuação: 745pts</p>
        </div>
        <div class="card_conexao">
          <h4>Lara</h4>
          <img sizes="100px" src="../../../assets/Lara.png" alt="foto preta e branca de uma mulher"><br>
          <p>4º</p>
          <p>pontuação: 500pts</p>
        </div>

      </div>



    </div>
  </div>
