<div class="body">


  <!-- //chamar nome da horta criada -->
  <h2 tabindex="0" class="aprovado">Olá Hortinha!</h2>
  <button mat-flat-button color="primary" class="btn" routerLink="/">
    Adicionar nova espécie + </button>

  <div class="container">
    <div tabindex="0" class="card">
      <p>Condição: {{weather.condition}} </p>
      <p>Umidade: {{weather.humidity}}%</p>
      <p>Temperatura: {{weather.temperature}}º </p>
      <p>Última atualização: {{weather.date | date:'shortTime'}} </p>

      <h2 class="status">Espécies recomendadas para a Hortinha:</h2>
      <div class="cards">
        <div class="card_planta">
          <h4>Berinjela</h4>
          <img sizes="100px" src="../../../assets/berinjela.png" alt="imagem de uma berinjela"><br>
          <a routerLink="/">Ver Cultivo ></a>
        </div>
        <div class="card_planta">
          <h4>Orégano</h4>
          <img src="../../../assets/oregano.png" alt="imagem de um vaso de orégano"><br>
          <a routerLink="/">Ver Cultivo ></a>
        </div>
        <div class="card_planta">
          <h4>Manjericão</h4>
          <img src="../../../assets/manjericao.png" alt="imagem de um vaso de manjericão"><br>
          <a routerLink="/">Ver Cultivo ></a>
        </div>

      </div>



      <mat-divider></mat-divider>

      <button mat-flat-button color="primary" class="btn" routerLink="/">
        IR PARA TELA INICIAL
      </button>
    </div>
  </div>


  <!-- <mat-card></mat-card> -->
